# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android build
android/.gradle/
android/build/
android/app/build/

# OS
.DS_Store
Thumbs.db
*.apk

android/app/release/
android/keystore/
StudentFlow-*.apk
FICHE_METHODE_APK.md